@tailwind base;
@tailwind components;
@tailwind utilities;


/* Color CSS */
:root{
    --color-primary : #850F8D;
    --color-purple : #C738BD;
    --color-purple-light : #FFE6E6;
    --color-blue : #01204E;
    --color-input : #F0F2F5;
    --color-border : #D1D8C5;
    --color-white : #ffffff;
    --color-black : #0C0C0C;
    --color-error : #EE4E4E;
    --color-transparent : transparent;
}

/* Font Family */
@font-face {
    font-family: "Grilroy-Regular";
    src: url(./assets/fonts/Gilroy-Regular.ttf);
}
@font-face {
    font-family: "Grilroy-Black";
    src: url(./assets/fonts/Gilroy-Black.ttf);
}
@font-face {
    font-family: "Grilroy-Bold";
    src: url(./assets/fonts/Gilroy-Bold.ttf);
}
@font-face {
    font-family: "Grilroy-ExtraBold";
    src: url(./assets/fonts/Gilroy-ExtraBold.ttf);
}
@font-face {
    font-family: "Grilroy-Heavy";
    src: url(./assets/fonts/Gilroy-Heavy.ttf);
}
@font-face {
    font-family: "Grilroy-Light";
    src: url(./assets/fonts/Gilroy-Light.ttf);
}
@font-face {
    font-family: "Grilroy-Medium";
    src: url(./assets/fonts/Gilroy-Medium.ttf);
}
@font-face {
    font-family: "Grilroy-SemiBold";
    src: url(./assets/fonts/Gilroy-SemiBold.ttf);
}
@font-face {
    font-family: "Grilroy-Thin";
    src: url(./assets/fonts/Gilroy-Thin.ttf);
}
@font-face {
    font-family: "Grilroy-UltraLight";
    src: url(./assets/fonts/Gilroy-UltraLight.ttf);
}
